//
// Main navigation
//

.main-navigation {
  height: 60px;
  @include clearfix;

  .block {
    margin-bottom: 0;
  }

  .block-menu .block__title,
  .block-menu-block .block__title {
    @include visually-hidden();
  }

  .menu {
    @include clearfix;    
    margin: 0;
    padding: 0;
    text-align: left;
  }

  .menu li {
    font-weight: 500;
    line-height: 60px;
    padding: 0 12px;

    float: left;
    // padding: 0 10px 0 0;
    list-style-type: none;
    list-style-image: none;
  }

  a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
  }

  a.is-active-trail,
  a.active {
    color: #ccc;
  }
}

