//
// Custom Layout
//

$header-height: 95px !default;
$header-border-color: #40484D !default;

body {
  background: #DFE8EF url(../images/body-bg.png) repeat-x;
  
  &.admin-menu                   { background-position: center 29px; }
  &.admin-menu-with-shortcuts    { background-position: center 65px; }
}

.region.region-navigation,
.page,
.region-bottom {
  margin-left: auto;
  margin-right: auto;

  @include respond-to('L')       { max-width: 960px; }
  @include respond-to('XL')      { max-width: 1194px; }
}

.region.region-navigation {
  position: relative;
}

.header {
  @include clearfix;
  height: 0;

  @include respond-to('L') {
    position: relative;
    height: $header-height;
    margin-left: 30px;
    margin-right: 30px;
  }

  @include respond-to('XL') {
    // margin-left: 30px;
    // margin-right: 30px;
  }
}

.header__region {
}

.main {
  @include clearfix;
  padding-left: 30px;
  padding-right: 30px;
  background: #fff;
  
  @include respond-to('S') { 
    // padding-left: 45px;
    // padding-right: 45px;
  }

  @include respond-to('L') { 
    padding-left: find-gutter() * 0.5;
    padding-right: find-gutter() * 0.5;
  }
}

.region-sidebar-first {
  // @include grid-span(12, 1); 
  padding-bottom: 30px;

  @at-root body.one-sidebar.sidebar-first & {
    @include respond-to('L') { 
      @include grid-span(3, 1); 
      // @include grid-span(3, 10); 
    }
  }
}

.main-content {
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;

  @include respond-to('L') {
    @include grid-span(12, 1);
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  @at-root body.one-sidebar.sidebar-first & {
    @include respond-to('L') {
      @include grid-span(9, 4);
      // @include grid-span(9, 1);

      // create vertical line for sidebar
      &:before {
        background: #d8d8d8;
        width: 1px;
        content: "";
        display:block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: find-gutter() * -0.5;
        // left: auto;
        // right: (find-gutter() * -0.5) - 1;
      }
    }
  }
}

footer.footer {
  @include clearfix;
  // text-align: center;
  background: lighten(#1A242A, 2%); // #2B2E31;
  color: #eee;
  padding: 30px 30px;
  margin-bottom: 40px;
  
  @include respond-to('L') { padding: 60px 90px; }

  .block {
    padding-right: 20px;

    @include respond-to('S') { width: 50%; float: left; }
    @include respond-to('L') { width: 33%; float: left; }
    @include respond-to('XL') { width: 25%; }
  }

  .block .block__title {
    text-transform: uppercase;
  }

  a {
    color: #bbb;
  }

  ul.menu {
    padding: 0;
    margin-left: 0;
    list-style: none;

    li {
      list-style: none;
    }
  }
}

@media print {

  .tabs,
  .tabs--secondary,
  .breadcrumb,
  .toolbar,
  .action-links,
  .links,
  .book-navigation,
  .forum-topic-navigation,
  .feed-icons,
  .main-navigation,
  .region-sidebar-first,
  .skip-link__wrapper,
  .footer {
    display: none;
  }

  // Un-float the content.
  .sidebar-first .main-content {
    float: none;
    width: 100%;
    margin: 0;
    padding: 0;
  }
}

