//
// Base elements
//

// Active link

a.active
a.is-active {
  color: $link-active-color;
}

// Prevent text wrapping.

.nowrap {
  white-space: nowrap;
}

// Inline links
//
// A list of links that are inline with each other.

ul.inline,       // <- Drupal selector
ol.inline,       // <- Drupal selector
.inline.links,   // <- Drupal selector
.inline-links {
  display: block;
  padding: 0;
  
  li,
  &__item {
    display: inline;
    list-style-type: none;
    padding: 0 1em 0 0;
  }
}

// Inline element

.inline {
  display: inline;
}

// Inline container

.container-inline div,
.container-inline label {
  display: inline;
}

// For anything you want to hide on page load when JS is enabled, so
// that you can use the JS to control visibility and avoid flicker.

.js-hide, // <- Drupal selector
.js-hidden {
  html.js & {
    display: none;
  }
}

// Hide elements from all users.
//
// Used for elements which should not be immediately displayed to any user. An
// example would be a collapsible fieldset that will be expanded with a click
// from a user. The effect of this class can be toggled with the jQuery show()
// and hide() functions.

.element-hidden, // <- Drupal selector
.hidden {
  display: none;
}

// Hide elements visually, but keep them available for screen-readers.
//
// Used for information required for screen-reader users to understand and use
// the site where visual display is undesirable. Information provided in this
// manner should be kept concise, to avoid unnecessary burden on the user.
// "!important" is used to prevent unintentional overrides.

.element-invisible, // <- Drupal selector
.visually-hidden {
  @include visually-hidden();
}

// The .element-focusable class extends the .element-invisible class to allow
// the element to be focusable when navigated to via the keyboard.

.element-invisible.element-focusable:active, // <- Drupal selector
.element-invisible.element-focusable:focus { // <- Drupal selector
  position: static !important;
  clip: auto;
  overflow: visible;
  height: auto;
}

// Visually hidden

.visually-hidden--focusable { // <- Zen selector
  @include visually-hidden--focusable();
}

.visually-hidden--off { // <- Zen selector
  @include visually-hidden--off();
}

// Clearfix

.clearfix {
  @include clearfix;
}
