//
// Breadcrumb navigation
//

.breadcrumb {
  a {
    color: $text-color;
    text-decoration: none;
  }
  
  a:hover {
    color: $link-hover-color;
    text-decoration: underline;
  }

  .breadcrumb__separator,
  .crumbs-separator {
    margin: 0 4px;
  }

  .breadcrumb__title,
  .breadcrumb__list {
    display: inline;
  }

  .breadcrumb__title {
    @include visually-hidden();
  }

  .breadcrumb__list {
    margin: 0;
    padding: 0;
  }

  .breadcrumb__item {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}
