//
// Field
//

.field .field-label,
.field .field__label {
  font-weight: $text-strong-weight;
}

/* Form display */
form .field-multiple-table {
  margin: 0;

  th.field-label {
    padding-left: 0;
  }

  td.field-multiple-drag {
    width: 30px;
    padding-right: 0;
  }

  td.field-multiple-drag a.tabledrag-handle {
    padding-right: .5em;
  }
}

form .field-add-more-submit {
  margin: .5em 0 0;
}

