//
// Help
//

.more-help-link {
  text-align: right;

  a {
    padding: 1px 0 1px 20px;
    background-image: image-url('core/more-link/help.png');
    background-position: 0 50%;
    background-repeat: no-repeat;
  }
}
