//
// Menu Tree
//
// A "side menu" is secondary, hierarchical navigation to be displayed to the
// side of the main content.

// .menu__item.is-leaf {
//   list-style-image: image-url('core/side-menu/side-menu--leaf.png');
//   list-style-type: square;
// }

// .menu__item.is-expanded {
//   list-style-image: image-url('core/side-menu/side-menu--expanded.png');
//   list-style-type: circle;
// }

// .menu__item.is-collapsed {
//   list-style-image: image-url('core/side-menu/side-menu--collapsed.png');
//   list-style-type: disc;
// }
