//
// Messages
//

.messages {
  margin-bottom: 1em;
  padding: 10px 15px;
  // border-radius: 4px;
}

.messages__list {
  margin: 0;
  padding-left: 2em;
}

.messages__item {
  // list-style-image: none;
  // margin-left: 0;
  // padding-left: 1em;
}

.messages.status,
.messages--status {
  background-color: $status-bg;
  color: $status-color;
  border: 1px solid $status-border-color;
}

.messages.warning,
.messages--warning {
  background-color: $warning-bg;
  color: $warning-color;
  border: 1px solid $warning-border-color;
}

.messages.error,
.messages--error {
  background-color: $error-bg;
  color: $error-color;    
  border: 1px solid $error-border-color;
}

