//
// Pager
//

.pager {
  clear: both;
  padding: 0;
  text-align: center;

  @media print {
    display: none;
  }
}

// A page item in the pager list.
.pager__item {
  display: inline;
  padding: 0 .5em;
  list-style-type: none;
  background-image: none;
  
  // Pager link
  a {}

  // The current page's list item.
  &.is-active {
    font-weight: $text-strong-weight;
  }
}
