// // Progress bar
// //
// // @TODO
// //
// // Style guide: components.progress-bar



/**
 * Progress behavior.
 *
 * @see progress.js
 */
/* Bar */
.progress .bar {
  background-color: #fff;
  border: 1px solid;
}

.progress .filled {
  background-color: #000;
  height: 1.5em;
  width: 5px;
}

.progress .percentage {
  float: right; /* LTR */
}

/* Throbber */
.ajax-progress {
  display: inline-block;
}

.ajax-progress .throbber {
  background: transparent image-url('core/autocomplete/throbber-active.gif') no-repeat 0px center;
  float: left; /* LTR */
  height: 15px;
  margin: 2px;
  width: 15px;
}

.ajax-progress .message {
  padding-left: 20px;
}

tr .ajax-progress .throbber {
  margin: 0 2px;
}

.ajax-progress-bar {
  width: 16em;
}

.form-item.form-type-radio {
  position: relative;

 & > .ajax-progress.ajax-progress-throbber {
    position: absolute;
    left: -1em;

    & .message { display: none; }
  }
}

/**
 * Progress bar.
 *
 * @see progress.js
 */
.progress {
  font-weight: bold;
}

.progress .bar {
  background: #ccc;
  border-color: #666;
  margin: 0 0.2em;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.progress .filled {
  background: #0072b9 image-url('core/progress-bar/progress.gif');
}

// .progress-bar,
// %progress-bar {
//   font-weight: $text-strong-weight;

//   &--disabled {
//     @include rtl() {
//       float: right;
//     }
//   }

//   &__bar {
//     @include border-radius(3px);
//     margin: 0 .2em;
//     border: 1px solid $progress-bar-border-color;
//     background-color: $progress-bar-bg;
//   }

//   &__fill {
//     height: 1.5em;
//     width: 5px;
//     background: $progress-bar-color image-url('core/progress-bar/progress.gif') repeat 0 0;
//   }

//   &__percentage {
//     float: right;

//     @include rtl() {
//       float: left;
//     }
//   }

//   &--ajax {
//     display: inline-block;

//     @include rtl() {
//       float: right;
//     }
//   }

//   &--ajax__throbber {
//     background: image-url('core/autocomplete/throbber.gif') no-repeat 0 -18px transparent;
//     float: left;
//     height: 15px;
//     margin: 2px;
//     width: 15px;

//     @include rtl() {
//       float: right;
//     }

//     tr & {
//       margin: 0 2px;
//     }
//   }

//   &--ajax__message {
//     padding-left: 20px;
//   }

//   &--ajax__bar {
//     width: 16em;
//   }
// }

// //
// // Drupal selectors.
// //

// .progress {
//   @extend %progress-bar;

//   .bar {
//     @extend %progress-bar__bar;
//   }

//   .filled {
//     @extend %progress-bar__fill;
//   }

//   .percentage {
//     @extend %progress-bar__percentage;
//   }
// }

// .progress-disabled {
//   @extend %progress-bar--disabled;
// }

// .ajax-progress {
//   @extend %progress-bar--ajax;

//   .throbber {
//     @extend %progress-bar--ajax__throbber;
//   }

//   .message {
//     @extend %progress-bar--ajax__message;
//   }
// }

// .ajax-progress-bar {
//   @extend %progress-bar--ajax__bar;
// }
