//
// Skip link
//
// To make the link completely hidden until a user tabs to the link, combine it
// with the `visually-hidden` component.

.skip-link__wrapper {
  margin: 0;
}

.skip-link {
  display: block;
  padding: 2px 0 3px;
  text-align: center;

  &:link,
  &:visited {
    background-color: $skip-link-bg;
    color: $skip-link-color;
  }
}

