//
// System elements
//

// System status report.
// Path: admin/reports/status-

.ok {
  background-color: $status-bg;
  color: $status-color;
}

.warning {
  background-color: $warning-bg;
  color: $warning-color;
}

.error {
  background-color: $error-bg;
  color: $error-color;
}

// Node revisions.

.revision-current {
  background-color: $status-bg;
  color: $status-color;
}
