//
// Tabs
//

.tabs {
  @include clearfix;
  list-style: none;
  white-space: nowrap;
  padding: 0 2px;
  font-weight: 500;

 li {
   list-style: none;
   float: left;
   margin: 0 3px;
  }
}

.tabs.primary,
.tabs.secondary,
.tabs.tabs--primary,
.tabs.tabs--secondary {
  @include background-image(linear-gradient(bottom, $tabs-border-color 1px, transparent 1px));

  @if support-legacy-browser(ie, '9') {
    // IE 9 and earlier don't understand gradients.
    border-bottom: 1px solid $tabs-border-color \0/ie;
  }
}

// Secondary Tabs
.tabs.secondary,
.tabs.tabs--secondary {
  font-size: .9em;
  background-image: none;
  padding-bottom: 0.5em;
}

.tabs.primary + .tabs.secondary,
.tabs.primary + * + .tabs.secondary,
.tabs.tabs--primary + .tabs.tabs--secondary,
.tabs.tabs--primary + * + .tabs.tabs--secondary {
  @include background-image(linear-gradient(bottom, $tabs-border-color 1px, transparent 1px));
}

// Primary Tabs Tab
// Secondary Tabs Tab
.tabs.primary li,
.tabs.tabs--primary .tabs__tab {
  @include border-top-radius(4px);
  @include single-text-shadow($tab-text-shadow-color, 1px, 1px, 0);

  border: 1px solid $tabs-border-color;
  // Allow the tabs gradient to appear just below the tab.
  border-bottom-color: transparent;
  @if support-legacy-browser(ie, '9') {
    // IE 9 and earlier don't understand gradients.
    border-bottom: 0 \0/ie;
  }

  &.active,
  &.is-active {
    // Cover the tabs gradient with the same color as the background.
    border-bottom-color: $tabs-bg;
  }
}

// Secondary Tabs Tab
.tabs.secondary li,
.tabs.tabs--secondary .tabs__tab {
  float: left;
}

// Primary Tabs Tab Link
// Secondary Tabs Tab Link
.tabs.primary li a,
.tabs.secondary li a,
.tabs.tabs--primary .tabs__tab a,
.tabs.tabs--secondary .tabs__tab a {
  // Add a top-left bevel.
  border: 1px solid lighten($tab-bg, 5%);
  border-right: 0;
  border-bottom: 0;
  display: block;
  text-decoration: none;
}

// Primary Tabs Tab Link
.tabs.primary li a,
.tabs.tabs--primary .tabs__tab a {
  @include border-top-radius(4px);
  @include transition(background-color .3s);

  color: $tab-color;
  background-color: $tab-bg;
  letter-spacing: 1px;
  padding: 0 1em;
  text-align: center;

  &:focus,
  &:hover {
    background-color: lighten($tab-bg, 5%);
    border-color: lighten($tab-bg, 8%);
  }
  
  &.active,
  &.is-active,
  &:active {
    @include background(linear-gradient(rgba(lighten($tab-bg, 5%), 1), rgba(lighten($tab-bg, 5%), 0)) transparent);
    border-color: lighten($tab-bg, 10%);

    @if support-legacy-browser(ie, '8') {
      @include filter-gradient(rgba(lighten($tab-bg, 5%), 1), rgba(lighten($tab-bg, 5%), 0));
    }
  }
}

// Secondary Tabs Tab Link
.tabs.secondary li a,
.tabs.tabs--secondary .tabs__tab a {
  @include border-radius(.75em);
  @include transition(background-color .3s);
  @include single-text-shadow($tab-text-shadow-color, 1px, 1px, 0);

  color: $tab-secondary-color;
  background-color: lighten($tab-bg, 8%);
  padding: 0 .5em;

  &:focus,
  &:hover {
    color: darken($tab-secondary-color, 20%);
    background-color: $tab-bg;
    border-color: darken($tab-bg, 26.5%);
  }
  
  &.active,
  &.is-active,
  &:active {
    @include single-text-shadow(darken($tab-secondary-color, 20%), 1px, 1px, 0);

    color: lighten($tab-bg, 15%);
    background-color: $tab-secondary-color;
    border-color: darken($tab-secondary-color, 40%);
  }
}
