//
// TableDrag
//

.drag,
%drag {
  &__wrapper {
    cursor: move;
  }

  &__item {
    background-color: $table-drag-color;
  }

  &__item-previous {
    background-color: darken($table-drag-color, 5%);
  }

  &__handle {
    cursor: move;
    float: left;
    height: 1.7em;
    margin-left: -1em;
    overflow: hidden;
    text-decoration: none;

    @include rtl() {
      float: right;
      margin-right: -1em;
      margin-left: 0;
    }

    &:focus,
    &:hover {
      text-decoration: none;
    }
  }

  &__handle-icon {
    background: inline-image('core/tabledrag/draggable.png') no-repeat 6px 9px;
    @if support-legacy-browser(ie, '7') {
      *background: image-url('core/tabledrag/draggable.png') no-repeat 6px 9px;
    }
    height: 13px;
    margin: -.4em .5em;
    padding: .42em .5em;
    width: 13px;
  }

  &__handle-icon-is-hover {
    background-position: 6px -11px;
  }

  &__toggle-weight-wrapper {
    text-align: right;

    @include rtl() {
      text-align: left;
    }
  }

  &__toggle-weight {
    font-size: .9em;
  }

  &__indentation {
    float: left;
    height: 1.7em;
    margin: -.4em .2em -.4em -.4em;
    padding: .42em 0 .42em .6em;
    width: 20px;

    @include rtl() {
      float: right;
      margin: -.4em -.4em -.4em .2em;
      padding: .42em .6em .42em 0;
    }
  }

  &__tree-child {
    background: inline-image('core/tabledrag/tree.png') no-repeat 11px center;
    @if support-legacy-browser(ie, '7') {
      *background: image-url('core/tabledrag/tree.png') no-repeat 11px center;
    }

    @include rtl() {
      background-position: -65px center;
    }
  }

  &__tree-child-last {
    @extend %drag__tree-child;
    background-image: inline-image('core/tabledrag/tree-bottom.png');
    @if support-legacy-browser(ie, '7') {
      *background-image: image-url('core/tabledrag/tree-bottom.png');
    }
  }

  &__tree-child-horizontal {
    @extend %drag__tree-child;
    background-position: -11px center;
  }
}

//
// Drupal selectors.
//

body.drag {
  @extend %drag__wrapper;
}

tr.drag {
  @extend %drag__item;
}

tr.drag-previous {
  @extend %drag__item-previous;
}

.tabledrag-handle {
  @extend %drag__handle;

  .handle {
    @extend %drag__handle-icon;
  }
}

.tabledrag-handle-hover .handle {
  @extend %drag__handle-icon-is-hover;
}

.tabledrag-toggle-weight-wrapper {
  @extend %drag__toggle-weight-wrapper;
}

.tabledrag-toggle-weight {
  @extend %drag__toggle-weight;
}

.indentation {
  @extend %drag__indentation;
}

.tree-child {
  @extend %drag__tree-child;
}

.tree-child-last {
  @extend %drag__tree-child-last;
}

.tree-child-horizontal {
  @extend %drag__tree-child-horizontal;
}
