//
// Views
//

.views-exposed-form {

  .views-exposed-widgets {
    margin-left: -1em;
  }

  .views-exposed-widget {
    float: left;
    padding: .5em 0 0 1em;
  }

  .views-exposed-widget .form-submit {
    margin-top: 1.6em;
  }

  .form-item,
  .form-submit {
    margin-top: 0;
    margin-bottom: 0;
  }

  label {
  }
}

.views-exposed-widgets {
  margin-bottom: .5em;
}

/* table style column align */
.views-align-left {
  text-align: left;
}
.views-align-right {
  text-align: right;
}
.views-align-center {
  text-align: center;
}

/* Remove the border on tbody that system puts in */
.views-view-grid tbody {
  border-top: none;
}

.view .progress-disabled {
  float: none;
}

