//
// Colors
//

$color-grey-lighter:           #eee;
$color-grey-light:             #ccc;
$color-grey:                   #999;
$color-grey-dark:              #666;
$color-grey-darker:            #333;
$color-red:                    #d9534f; // bootstrap danger
$color-green:                  #be7;
$color-blue:                   #337ab7; // bootstrap primary //#0072b9;
$color-yellow:                 #ff0;

///

$body-bg:               #fff;
$text-color:            #1A242A;
$text-bg:               #fff;
$headings-color:        lighten($text-color, 0%);
$border-color:          $color-grey-light;

$link-color:            #4FA4C8; // #428bca
$link-hover-color:      darken($link-color, 15%);
$link-visited-color:    darken($link-color, 15%);
$link-active-color:     darken($link-color, 15%);

$autocomplete-color:           $text-color;
$autocomplete-bg:              $body-bg;
$autocomplete-select-color:    #fff;
$autocomplete-is-selected-bg:  $color-blue;

$button-color:                 #FFF;
$button-bg:                    lighten($text-color, 22%); //#888;

$fieldset-summary-color:       $color-grey-light;

$form-error-color:             $color-red;

$link-active-color:            $text-color;

$mark-color:                   $color-red;

$preview-bg:                   lighten($color-yellow, 5%);

$progress-bar-color:           $color-blue;
$progress-bar-bg:              $color-grey-light;
$progress-bar-border-color:    $color-grey-dark;

$resizable-grippie-color:      $color-grey-lighter;

$row-stripe-color:             $color-grey-lighter;
$row-disabled-color:           $color-grey-light;

$skip-link-color:              #fff;
$skip-link-bg:                 $color-grey-dark;

// Messages
$status-color:                 #3c763d;
$status-bg:                    #dff0d8;
$status-border-color:          darken(adjust-hue($status-bg, -10), 5%);

$warning-color:                #8a6d3b;
$warning-bg:                   #fcf8e3;
$warning-border-color:         darken(adjust-hue($warning-bg, -10), 5%);

$error-color:                  #a94442;
$error-bg:                     #f2dede;
$error-border-color:           darken(adjust-hue($error-bg, -10), 5%) !default;

// Tabs
$tabs-border-color:            $border-color;
$tabs-bg:                      $body-bg;
$tab-color:                    $color-grey-darker;
$tab-text-shadow-color:        #fff;
$tab-bg:                       $color-grey-lighter;
$tab-secondary-color:          $color-grey-dark;

// Tables
$table-drag-color:             lighten($color-yellow, 5%);
$table-select-color:           lighten($color-yellow, 5%);

