
@import "breakpoint";
@import "singularitygs";

// @include add-grid(1);
@include add-gutter(30px);

@include add-grid(12);
@include add-gutter-style('split');

// Breakpoints
//
// Use the `respond-to()` mixin to use named breakpoints. Documentation is
// available in the [Breakpoint wiki
// pages](https://github.com/at-import/breakpoint/wiki/Respond-To).
//
// Style guide: sass.variables.breakpoints

// We can use all of the Breakpoint control variables with respond-to as well!
// $breakpoint-no-query-fallbacks: true;
// $breakpoint-to-ems: true;

$breakpoints: add-breakpoint("S", 545px);
$breakpoints: add-breakpoint("M", 760px);
$breakpoints: add-breakpoint("L", 980px);
$breakpoints: add-breakpoint("XL", 1222px);

