//
// Variables
//

//
// Font faces, stacks and sizes.
//

// The following font family declarations use widely available fonts.
// A user's web browser will look at the comma-separated list and will
// attempt to use each font in turn until it finds one that is available
// on the user's computer. The final "generic" font (sans-serif, serif or
// monospace) hints at what type of font to use if the web browser doesn't
// find any of the fonts in the list.

// Serif font stacks.
$times-new-roman: 'Times New Roman', Times, Georgia, 'DejaVu Serif', serif;
$times:           Times, 'Times New Roman', Georgia, 'DejaVu Serif', serif;
$georgia:         Georgia, 'Times New Roman', 'DejaVu Serif', serif;

// Sans-serif font stacks.
$verdana:         Verdana, Tahoma, 'DejaVu Sans', sans-serif;
$tahoma:          Tahoma, Verdana, 'DejaVu Sans', sans-serif;
$helvetica:       Helvetica, Arial, 'Nimbus Sans L', sans-serif;
$arial:           Arial, Helvetica, 'Nimbus Sans L', sans-serif;
$impact:          Impact, 'Arial Narrow', Helvetica, sans-serif;

// Monospace font stacks.
// For an explanation of why "sans-serif" is at the end of this list, see
// http://meyerweb.com/eric/thoughts/2010/02/12/fixed-monospace-sizing/
$menlo:           Menlo, 'DejaVu Sans Mono', 'Ubuntu Mono', Courier, 'Courier New', monospace, sans-serif;

$font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif:       Georgia, "Times New Roman", Times, serif;
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;

/////
/////

$line-height:             1.5; //1.428571429; // 20/14

$font-family:            $font-family-sans-serif; 

$font-size:               16px;
$font-size-large:         ceil(($font-size * 1.25)); // ~18px
$font-size-small:         ceil(($font-size * 0.85)); // ~12px

$font-size-h1:            floor(($font-size * 2.6)); // ~36px
$font-size-h2:            floor(($font-size * 2.15)); // ~30px
$font-size-h3:            ceil(($font-size * 1.7)); // ~24px
$font-size-h4:            ceil(($font-size * 1.25)); // ~18px
$font-size-h5:            $font-size;
$font-size-h6:            ceil(($font-size * 0.85)); // ~12px

$text-strong-weight:      bold;

//$headings-font-family:    inherit;
$headings-font-weight:    bold;
$headings-line-height:    1.1;

// The amount lists, blockquotes and comments are indented.
$indent-amount: 2 * $font-size;

