// Autocomplete field
//
// As the user starts to type a value, a selection list appears below the form
// item allowing them to choose an option.

// Suggestion list.
#autocomplete, // <- Drupal selector
.autocomplete .autocomplete__list-wrapper {
  border: 1px solid;
  overflow: hidden;
  position: absolute;
  z-index: 100;
}

#autocomplete ul, // <- Drupal selector
.autocomplete .autocomplete__list {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

#autocomplete li, // <- Drupal selector
.autocomplete .autocomplete__list-item {
  background: $autocomplete-bg;
  color: $autocomplete-color;
  cursor: default;
  white-space: pre;
  
  @if support-legacy-browser(ie, '7') {
    zoom: 1;
  }
}

#autocomplete .selected, // <- Drupal selector
.autocomplete .autocomplete__list-item.is-selected {
  background: $autocomplete-is-selected-bg;
  color: $autocomplete-select-color;
}

// Animated throbber
.js input.form-autocomplete, // <- Drupal selector
.js .autocomplete {
  background-image: image-url('core/autocomplete/throbber.gif');
  background-position: right 8px;
  background-repeat: no-repeat;
}

.js input.throbbing, // <- Drupal selector
.js .autocomplete.is-throbbing {
  background-position: right -122px;
}
