//
// Button
//

.button {
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  // font-weight: normal;
  line-height: 1.5;
  
  background: #888;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 6px 12px;
  display: inline-block;
  margin-bottom: 0;
  
  touch-action: manipulation;  
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

