//
// Collapsible fieldset
//
// Fieldsets with optional entry fields can be hidden with collapsed fieldsets.

// Fieldset
fieldset {

  .fieldset-legend {    
  }
  
  .fieldset-description {
    margin-bottom: 1.5em;
  }
}

// Fieldset contents always need to be rendered as block.
.container-inline .fieldset-wrapper {
  display: block;
}

.collapsible, // <- Drupal selector
.collapsible-fieldset {
  position: relative;

  &.collapsed, // <- Drupal selector
  .collapsible-fieldset.is-collapsed {
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    height: 1em;
  }
  
  &.collapsed .fieldset-wrapper, // <- Drupal selector
  .is-collapsed .collapsible-fieldset__wrapper {
    display: none;
  }

  .fieldset-legend, // <- Drupal selector
  .collapsible-fieldset__legend {
    display: block;
    padding-left: 15px;
    background-image: image-url('core/collapsible-fieldset/expanded.png');
    background-position: 5px 65%;
    background-repeat: no-repeat;
  }
  
  &.collapsed .fieldset-legend, // <- Drupal selector
  .is-collapsed .collapsible-fieldset__legend,
  {
    background-image: image-url('core/collapsible-fieldset/collapsed.png');
    background-position: 5px 50%;
  }

  .fieldset-legend .summary // <- Drupal selector
  .collapsible-fieldset__summary {
    color: $fieldset-summary-color;
    font-size: .9em;
    margin-left: .5em;
  }
}
