
form {
}

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
textarea {
}

textarea {
}

label {
  font-weight: $text-strong-weight;
  margin-bottom: .5em;
  margin-right: 1em;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  @extend .button;
}

.form-actions {
  @include clearfix;
  
  padding-top: .5em;
  padding-bottom: 1.5em;
  margin-top: 0;

  vertical-align: middle;
  text-align: right;
  line-height: 1.5em;
  
  .button,
  button,
  input[type="submit"] {
    margin-right: 0.5em;
  }
  
  .button:last-child,
  button:last-child,
  input[type="submit"]:last-child {
    margin-right: 0;
  }
}

