//
// Form item
//

.form-item {
  margin-bottom: 1.5em;
  
  .form-item .description,
  .form-item__description {
    font-size: .85em;
  }

  .field-suffix {
    display: block;
  }

  .inline {
    div,
    label {
      display: inline;
    }
  }

  .form-required,
  .form-item__required {
    color: $form-error-color;
  }

  input.error,
  textarea.error,
  select.error
  input.is-error,
  textarea.is-error,
  select.is-error {
    border: 2px solid $form-error-color;
  }
}

table .form-item {
  margin-bottom: 0.5em;
}

.form-checkboxes .form-type-checkbox,
.form-radios .form-type-radio {  
  margin-top: 0.25em; 
  margin-bottom: 0.25em;
}

.label.option,
.form-item--checkbox__label
.form-item--radio__label {
  display: inline;
  font-weight: normal;
}

// Password confirmation.
.form-item.form-type-password,
.form-item.form-item--password {

  &.password-parent,
  &.confirm-parent {
    margin: 0;
  }
}




