//
// Resizable textarea
//
// A textarea that can be resized with a "grippie" widget.

.resizable-textarea {
  width: 100%;
  vertical-align: bottom;

  textarea {
    box-sizing: border-box;
    display: block;
    width: 100%;
    margin: 0;
  }
}

.resizable-textarea .grippie, // <- Drupal selector
.resizable-textarea .resizable-textarea__grippie {
  background: image-url('core/resizable-textarea/grippie.png') no-repeat center 2px $resizable-grippie-color;
  border: 1px solid $border-color;
  border-top-width: 0;
  margin-top: 0;
  cursor: s-resize;
  height: 9px;
  overflow: hidden;
}
