//
// Links
//

:link {
  color: $link-color;
}

:visited {
  // color: $link-visited-color;
}

a:hover,
a:focus {
  color: $link-hover-color;
}

a:active {
  color: $link-active-color;

  @if support-legacy-browser(ie, '10') {
    // Remove the gray background color from active links in IE 10.
    background-color: transparent;
  }
}

// Improve readability by removing focus styles when also mouse hovered in all browsers.
a:active,
a:hover {
  outline: 0;
}

@media print {
  // Underline all links.
  :link,
  :visited {
    text-decoration: underline;
  }

  // Add visible URL after links.
  a[href]:after {
    content: ' (' attr(href) ')';
    font-weight: normal;
    font-size: $font-size;
    text-decoration: none;
  }

  // Only display useful links.
  a[href^='javascript:']:after,
  a[href^='#']:after {
    content: '';
  }
}
