
body {
  color: $text-color;
  font-weight: normal;
  font-size: $font-size;
  font-family: $font-family;
  line-height: $line-height;
  // -webkit-font-smoothing: subpixel-antialiased;
  // -webkit-font-smoothing: antialiased;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

strong {
  font-weight: $text-strong-weight;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
}

h1 {
  font-weight: $headings-font-weight; 
  font-size: 20px;
  line-height: 24px;
}

h2 {
  font-weight: $headings-font-weight; 
  font-size: 18px;
  line-height: 21px;
}

strong {
  //font-weight: 600;
}

hr {
  margin-top: 1em;
  margin-bottom: 1em;
  border: 0;
  border-top: 1px solid $border-color;
}
